<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sasakiappstudio.sasakiflix">

    <!-- Permissão para acessar a internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.SasakiFlix"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher">

        <!-- Atividade Principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Atividade de Detalhes do Filme -->
        <activity android:name=".MovieDetailActivity">
            <!-- Definir a atividade pai manualmente no código -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

    </application>

</manifest>
